*.meta
/Unity/Library
/Unity/Logs
/Unity/Packages
/Unity/ProjectSettings
/Unity/Temp
/Image Unity/Assets/Scenes
/Image Unity/Library
/Image Unity/Logs
/Image Unity/Packages
/Image Unity/ProjectSettings
/Image Unity/Temp
/Image Unity/Assets/Scenes